/* Media Query for Mobile Screens */
@media (max-width: 768px) {
    .navbar .menu,
    .navbar .buttons {
        display: none; /* Hide menu and buttons */
    }
    .navbar .icon {
        display: block; /* Show hamburger icon */
    }
    .mobile-menu {
        display: block; /* Show mobile menu when toggled */
    }

    .mobile-menu .menu .active {
        color: #ff6600;
    }

    .mobile-menu .menu a {
        text-decoration: none;
        color: #333;
        font-weight: 600;
        font-size: 16px;
    }

    .mobile-menu .buttons {
        display: flex;
        justify-content: flex-start;
        gap: 20px;
    }

    .mobile-menu .buttons a{
        text-decoration: none;
        color: #ff6600;
        font-size: 16px;
        font-weight: 600;
    }

    .mobile-menu .buttons .sign-in {
        margin-top: 5px;
    }

    .mobile-menu .buttons .sign-up {
        background-color: #ff6600;
        color: #fff;
        padding: 5px;
    }

    .section {
        flex-direction: column;
        align-items: flex-start; /* Align content to the left */
        justify-content: flex-start;
        padding: 0 20px;
        height: auto;
        background-size: cover; /* Ensures the background fills the screen */
    }
    .text-content {
        max-width: 100%;
        text-align: left;
    }
    .text-content p:first-child {
        font-size: 14px;
    }
    .text-content h1 {
        font-size: 24px; /* Reduce font size for smaller screens */
        margin-bottom: 8px;
    }
    .text-content p {
        font-size: 14px; /* Reduce font size for smaller screens */
    }
    .cta-button {
        font-size: 14px;
        padding: 10px 16px;
    }

    .steps {
        flex-direction: column;
        align-items: center;
    }

    .step {
        min-width: 100%;
    }

    .step .cta {
        position: static;
        margin-top: 20px;
    }

    .faq-button {
        position: relative;
        left: 30%;
    }

    .card code {
        margin: auto;
    }
}

@media (min-width: 760px) and (max-width: 1000px) {
    .faq-button {
        position: relative;
        left: 38%;
    }
}

@media (max-width: 750px) {
    .faq-button {
        position: relative;
        left: 35%;
    }
}

@media (max-width: 500px) {
    .faq-button {
        position: relative;
        left: 20%;
    }
}